<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GenClinic.Properties.Settings.GenClinicDBConnectionString"
            connectionString="Data Source=DESKTOP-ULUOPMP;Initial Catalog=GenClinicDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GenClinic.Properties.Settings.ZPrintDBConnectionString"
            connectionString="Data Source=DESKTOP-ULUOPMP;Initial Catalog=ZPrintDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>